p{
    margin: auto;
}
h3,h4,h5,h6,p,nav{
    font-family: 'Montserrat', sans-serif;
}
/*Header*/
header{
    background-color:#FFD59E ;
    
}
.entête{
    font-family: 'Francois One', sans-serif;
    margin: auto;
}
.wrapper1{
    max-width: 1024px;
    margin: auto;
}
.entêtegauche
{ 
    float: left;
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: auto;
    
}
.entêtedroite
{ float: right;
    width:60%;
}
.barreorange{
    width: 100%;
}


h1,h2,h4,h5,h6,h7,h8{
color:#FF6738  ;
}
h1{
    margin-top: 0px;
    font-weight: 400;
    font-size: 65px;
    padding-top:5px;
    margin-bottom: auto;
}
h2{
    margin-bottom: 1px;
    margin-top: 21px;
    font-size:32px;
    font-weight: 34;
   

}
hr{
  height: 7px;
  background-color:#FF6738 ;
  border-color:#FF6738 ;
  
}
nav{
    background-color:#FF6738;
    height: 30px;
    display: inline-block;
    width: -webkit-fill-available;
    margin-top: 25px;
}
.ListeMenu{
     margin: auto;
     max-width: 1024px;
     padding-left: 87px;
    
}
.li1
{
    display: inline;
    padding-left:20px;
    padding-top:5px;
    color:#FFFF ;
    font-weight: 18;
    font-size: 14px;
    font-weight: bold;
}
/*MAIN*/
.PremièreSection{
    width: 1024px;
    margin: auto;
}
.PremièreImage{
width: 1024px;
height: 300px;
}
.LeftSideImage1{
    height: 297px;
    width: 327px;
    margin-top: 19px;

}
.RightParagraphe1{
    float: right;
    width:671px ;
    margin-top: 19px;
}
h3{
    color: #FFA938;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 19px;
    }
.Barremain1{
    margin-top: 21px;
}
.Bgboudha{
    background: url(FuméBoudha.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 364px;
    max-width: 1024px;
    margin: auto;
    
    
}
h4{
    text-align: right;
    font-size: 25px;
    padding-top: 330px;
    padding-right: 26px;
}
.div1{
    width: 415px;
    float: right;
    margin-right: 85px;
    
}
.div2{
    width: 415px;
    margin-left: 85px;
    margin-top: 22px;
}
.lestest{
    margin: auto;
    background-color:#FFD59E ;
    padding-top: 22px;
    font-size: 14px;
    padding-bottom: 33px;
    
}
.article{
    max-width: 1024px;
    margin: auto;
}
.wrapper2{
    margin: auto;
    max-width: 1024px;
    display: flow-root;
}
h5{
    font-size: 48px;
    margin: auto;
    float: left;
    margin: 0px 42px 22px 87px;

}
.barreh5 {
    height: 54px;
    margin: 27px 0px 46px 0px;
}
.kidimage{
    height: 292px;
    width: 502px;
    float: right;
    margin-left: 16px;
}
h6{
    font-size: 36px;
    margin: 0px 0px 20px 15px;
}
.texth6{
    font-size: 14px;
    margin-left: 15px;
}
.imgSuccess{
    height: 292px;
    width: 502px;
    margin-top: 46px;
    float: left;
    margin-right: 16px;
}
.h7{
margin: 46px 0px 10px 0px;
}

.p7{
    font-size: 14px;
}

.h8{
    margin-top: 46px;
}
.MonsterImg{
    width: 502px;
    height: 292px;
    float: right;
    margin-top: 46px;
    margin-left: 16px;
}

.h9{
    float: right;
    margin: 46px 97px 0px 16px;
}

.Barreh9{
    margin-top: 46px;
    margin-bottom: 46px;
    height: 54px;

}
table{
    width: 100%;
    border-collapse : collapse;
}

td, th
{
    border: 1px solid black;
}

.h10{
    float: left;
    margin: 46px 16px 0px 86px;
}
.Barreh10{
    height: 54px;
    margin-top: 46px;
}

footer{
    background-color: #C4C4C4;
    height: 294px;
}
.Num{
    margin-top: 30px;
}
.divfoot{
    float: left;
    margin-left: 86px;
    margin-top: 20px;
}
.BarreFooter{
    height: 54px;
    margin-top: 36px;
}
.h1foot{
    margin-right: 86px;
    font-size: 72px;
    
}


